h1,
.h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 700;
    line-height: 1.2;
    color: rgba(255, 0, 0, 0.769);
}

h1,
.h1 {
    font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {

    h1,
    .h1 {
        font-size: 2.5rem;
    }
}

.btn-xl {
    padding: 1.25rem 2.5rem;
}

.btn-primary {
    color: #fff;
    background-color: #1D809F;
    border-color: #1D809F;
    margin-bottom: 1rem !important;
}

.btn-primary:hover {
    color: #fff;
    background-color: #196d87;
    border-color: #17667f;
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
    color: #fff;
    background-color: #196d87;
    border-color: #17667f;
    box-shadow: 0 0 0 0.25rem rgba(63, 147, 173, 0.5);
}

.btn-check:checked+.btn-primary,
.btn-check:active+.btn-primary,
.btn-primary:active,
.btn-primary.active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #17667f;
    border-color: #166077;
}

.btn-check:checked+.btn-primary:focus,
.btn-check:active+.btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(63, 147, 173, 0.5);
}

.btn-primary:disabled,
.btn-primary.disabled {
    color: #fff;
    background-color: #1D809F;
    border-color: #1D809F;
}

.masthead {
    min-height: 30rem;
    position: relative;
    display: table;
    width: 100%;
    height: auto;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../assets/img/bg-masthead.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.masthead h1,
.masthead .h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
}

@media (min-width: 992px) {
    .masthead {
        height: 100vh;
    }

    .masthead h1,
    .masthead .h1 {
        font-size: 5.5rem;
    }
}

.mb-1 {
    margin-bottom: 0.25rem !important;
}

.mb-5 {
    margin-bottom: 3rem !important;
    font-size: 1rem;
}