body {
    text-align: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(171, 16, 41, 0.694);
}

button {
    font-family: Arial, Helvetica, sans-serif;
    border: 0px;
}

.button1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: #1D809F;
    border-color: #1D809F;
    border: 0px;
}

input {
    border-radius: 5%;
}

canvas {
    padding: auto;
    background-color: rgb(241, 241, 241);
    border: 4px double rgba(255, 0, 0, 0.694);
    border-radius: 2%;
}

.application {
    display: block;
}